<div style="text-align:center;">
  <%= paginate @products %>
  <br>
  <strong>Items Per Page:</strong>
  <%= select_tag :per_page, options_for_select([6,12,18,24], params[:per_page].to_i),
 { :onchange => "if(this.value){window.location='?per_page='+this.value;}" } %>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
    <div class="container">
      <div class="row">
        <% @products.each_slice(3) do |row| %>
          <% row.each do |product| %>
          <% if product.name.split("-").last != "1SIZE" %>
            <div class="col-md-3 col-sm-6">
              <div class="single-product">
                <div class="product-f-image">
                  <img src="<%= product.default_image.path %>" alt="" style="height:335px;width:280px;">
                    <div class="product-hover">
                        <a href="<%= product_path(product.permalink) %>" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>
              
                <h6><a href="<%= product_path(product.permalink) %>"><%= product.sku %> - <%= product.name.split("-").first %></a></h6>
              
                <div class="product-carousel-price">
                  <ins><%= number_to_currency product.price %></ins> 
                  <% if product.product_category_id == 22 %>
                  <del><%= number_to_currency (product.price*1.35).to_f %></del>
                  <% end %>
                </div> 
              </div> 
              <!-- end prod -->
            </div>
            <% end %>
            <% end %>
          <% end %>
<!-- end col -->
    </div>
<!-- end row -->
  </div>
  <div style="text-align:center;">
  <%= paginate @products %>
</div>
</div>