<table>            
  <thead>
    <tr>
      <th style="width:35%">Product</th>
      <th style="width:15%">Sub-Total</th>
      <th style="width:15%">Quantity</th>
      <th style="width:15%" class="text-center">Tax</th>
    </tr>
  </thead>
  <tbody>
    <% if order.order_items.count > 0 %>
      <% order.order_items.each do |item| %>
        <tr>
          <td data-th="Product">
            <% if item.ordered_item.default_image %>
            <div class="row">
              <div class="col-sm-4 hidden-xs">
                <%= image_tag item.ordered_item.default_image.path, :width => '50px' %>
              </div>
              <% end %>
              <div class="col-sm-8">
                <h4 class="nomargin"><%= item.ordered_item.full_name %></h4>
                <p><%= item.ordered_item.description %></p>
              </div>
            </div>
          </td>
          <td data-th="Price"><%= number_to_currency item.sub_total %></td>
          <td data-th="Quantity">
            <input type="number" class="form-control text-center" value="<%= item.quantity %>">
          </td>
          <td data-th="Subtotal" class="text-center"><%= number_to_currency item.tax_amount %></td>
          <td class="actions" data-th="">
            <%= link_to "Update", "", class: "btn btn-info btn-sm" %>
            <%= link_to "Remove", "", class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <h1 class="well">Basket is EMPTY</h1>
      <% end %>
    </tbody>


    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>Total: <%= number_to_currency order.total %></strong></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Empty basket', basket_path, :method => :delete, class: "ui button red" %>
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total: <%= number_to_currency order.total %></strong></td>
      </tr>
    </tfoot>


  </table>