<% if @order.order_items.count > 0 %>
<%= form_for @order, :url => checkout_path do |f| %> 
<div class="col-md-4">
      
      <%= f.text_field :first_name, value: current_client.first_name, class: 'form-control' %> 
      <%= f.text_field :last_name, value: current_client.last_name, class: 'form-control' %>
      <%= f.label :billing_address1, 'Address' %>
      <%= f.text_field :billing_address1, value: current_client.address1, class: 'form-control'%>
      
      <% if current_client.address2? %>
        <%= f.text_field :billing_address2, value: current_client.address2, class: 'form-control' %>
      <% else %>
        <%= f.text_field :billing_address2, placeholder: "Suite # (Optional)", class: 'form-control' %>  
      <% end %>

      <%= f.text_field :billing_address3, value: current_client.city, class: 'form-control' %>      
      
      <%= f.text_field :billing_address4, value: current_client.state, class: 'form-control' %>

      <%= f.text_field :billing_postcode, value: current_client.postcode, class: 'form-control' %>
</div>
<div class="col-md-4">
			<%= f.label :country, 'Country' %>
      <%= f.collection_select :billing_country_id, Shoppe::Country.where(name: "Canada"), :id, :name, :include_blank => false, class: 'form-control' %>
      <%= f.label :email_address %>
      <%= f.text_field :email_address, value: current_client.email, class: 'form-control'  %>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, value: current_client.phone_number, class: 'form-control'  %>
      <%= check_box_tag 'pick_up' %>* Check off if you wish to do a warehouse pickup - <%= link_to "More Info", pick_up_path %>
      <%= f.submit 'Continue', class: 'form-control'  %>
  <% end %>
  </div>
 
<% else %>

<% end %>