<br>
<br>
<div class="col-md-16">
  <div class="product-content-right">
    <div class="woocommerce">
      <form method="post" action="#">
        <table cellspacing="0" class="shop_table cart">
          <thead>
            <tr>
              <th class="product-remove">&nbsp;</th>
              <th class="product-thumbnail">&nbsp;</th>
              <th class="product-name" style="width:716px;">Product</th>
              <th class="product-price">Price</th>
              <th class="product-quantity">Quantity</th>
              <th class="product-subtotal">Total</th>
            </tr>
          </thead>

              <% if order.order_items.count > 0 %>
                
                <tbody>

              <% order.order_items.each do |item| %>

                <tr class="cart_item">
                  <td class="product-remove">
                  <%= link_to "x", { :controller => "orders", :action => "remove_item", :id => item.id}, :class => "remove" %>
                  </td>

                  <td class="product-thumbnail">
                    <a href="<%= product_path(item.ordered_item.permalink) %>"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="<%= item.ordered_item.default_image.path %>"></a>
                  </td>

                  <td class="product-name">
                    <a href="<%= product_path(item.ordered_item.permalink) %>"><%= item.ordered_item.full_name %></a> 
                  </td>

                  <td class="product-price">
                    <span class="amount"><%= number_to_currency (item.sub_total/item.quantity) %></span> 
                  </td>

                  <td class="product-quantity">
                    <div class="quantity buttons_added">
                      <%= link_to "-", { :controller => "orders", :action => "decrease_item_quantity", :id => item.id}, class: "ui button", style: "background-color:#2B4B6F;color:white;font-weight:bold;" %>
                      <input type="number" size="4" class="input-text qty text" id="qty" value="<%= item.quantity.to_i %>" min="0" step="1" style="width:40px;">
                      <%= link_to "+", { :controller => "orders", :action => "increase_item_quantity", :id => item.id}, class: "ui button", style: "background-color:#2B4B6F;color:white;font-weight:bold;" %>
                    </div>
                  </td>

                  <td class="product-subtotal">
                    <span class="amount"><%= number_to_currency (item.sub_total) %></span> 
                  </td>
                </tr>

              <% end %>
        
                  <tr>
                    <td class="actions" colspan="6">

                      <%= link_to 'EMPTY BASKET', basket_path, :method => :delete, class: "ui button", style: "background-color:#2B4B6F;color:white;" %>
                      <% if !current_page?(action: 'checkout') && !current_page?(action: 'confirmation') %>
                        <%= link_to 'CHECKOUT', checkout_path, class: "ui button", style: "background-color:#2B4B6F;color:white;" %>
                      <% end %>
                    </td>
                  </tr>
                <% else %>


                <% end %>

              </tbody>
            </table>
          </form>

          <div class="cart-collaterals">
            <div class="cross-sells">
              <% if order.order_items.count == 0 %>
                <h2 style="text-align:center; font-size:3em;">Basket is empty</h2>
              <% elsif current_page?(action: 'checkout') && order.order_items.count > 0 %>
                <h2>Checkout Form</h2>
                  <%= render 'form' %>
              <% end %>
            </div>


            <div class="cart_totals ">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Cart Totals</h2>

                  <table cellspacing="0">
                    <tbody>
                      <tr class="cart-subtotal">
                        <th>Cart Subtotal</th>
                        <td><span class="amount"><%= number_to_currency (order.total/1.13)-current_order.delivery_price %></span></td>
                      </tr>

                      <tr class="shipping">
                        <th>Shipping and Handling</th>
                        <td><%= number_to_currency current_order.delivery_price %></td>
                      </tr>

                      <tr class="shipping">
                        <th>Tax (HST 13%)</th>
                        <td><%= number_to_currency order.total-(order.total/1.13) %></td>
                      </tr>

                      <tr class="order-total">
                        <th>Order Total</th>
                        <td><strong><span class="amount"><%= number_to_currency order.total %></span></strong> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>                        
      </div>                    
    </div>
  </div>
</div>
</div>


          
        