<style>
  #well {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    background-color: #2b4b6f;
  }
  #label, label {
    color:white;
    min-width:100px;
  }
  .send {
    border: 1px solid white;
  }
  input {
    width:300px;height:30px;top:10px;
  }
  #fix {
    height:12px;
  }
  #row {
    
  }
  .send {
    width:100% !important;height: 100% !important; top: 0px !important;
  }
</style>
<%= form_for @contact_form do |f| %>
  <div style="text-align:center;">
    <form class="form-horizontal">
      <div class="well" id="well">
        <div class="row" id="row">
          <div class="col-lg-2">
            <div class="form-group">
              <%= f.label :name, "Name (required):" %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <%= f.text_field :name, :required => true %>
            </div>
          </div>
        </div>
        <div class="row" id="row">
          <div class="col-lg-2">
            <div class="form-group">
              <%= f.label :email, "E-Mail (required):" %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <%= f.email_field :email, :required => true %>
            </div>
          </div>
        </div>
        <div class="row" id="row">
          <div class="col-lg-2">
            <div class="form-group">
              <%= f.label :phone, "Phone Number:" %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group" id="fix">
              <%= f.phone_field :phone %>
            </div>
          </div>
        </div>
        <div class="row" id="row">
          <div class="col-lg-2">
            <div class="form-group" id="label">
              <strong>How did you hear about us?:</strong>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <%= f.text_field :referral %>
            </div>
          </div>
        </div>
        <div class="row" id="row">
          <div class="col-lg-2">
            <div class="form-group" id="label">
              <strong>Comments:</strong>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <%= f.text_area :message, cols: "38", rows: "5" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "Send", class: "send" %>
        </div>
      </div>
    </form>
  </div>
<% end %>