<%= form_for @contact_form do |f| %>
<div style="text-align:center;">
<form>
  <div class="form-group">
   <%= f.label :name, "Name (required):" %><br>
  <%= f.text_field :name, :required => true %><br>
 </div>
 <div class="form-group">
  <%= f.label :email, "E-Mail (required):" %><br>
  <%= f.email_field :email, :required => true %><br>
 </div>
  <div class="form-group">
  <%= f.label :phone, "Phone Number:" %><br>
  <%= f.phone_field :phone %><br>
 </div>
  <div class="form-group">
  <strong>How did you hear about us?:</strong><br> <%= f.text_field :referral
  %><br>
 </div> 
  <div class="form-group">
  <strong>Comments:</strong><br><%= f.text_area :message %><br>

</div>
 <div class="form-group">
  <%= f.submit "Send" %>
</div>
</form>
</div>

<% end %>