<div class="single-product-area">
  <div class="zigzag-bottom"></div>
    <div class="container">
      <div class="row">
        <% @products.each_slice(4) do |row| %>
          <% row.each do |product| %>
              <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                  <div class="product-upper">
                    <img src="<%= product.default_image.path %>" alt="" style="height:335px;/*width:212px;*/">
                  </div>
                  </div>
                    <h2><a href="<%= product_path(product.permalink) %>"><%= product.name.split("-").first %></a></h2>
                  <div class="product-carousel-price">
                    <ins><%= number_to_currency product.price %></ins> <del><%= number_to_currency (product.price*1.13).to_f %></del>
                  </div>  
                <!-- end prod -->
              </div>
          <% end %>
        <% end %>
<!-- end col -->
      </div>
<!-- end row -->
    </div>
  </div>
</div>