<% @products.each do |category, products| %>
  <% if category.name.downcase == 'tops' %>
    <% products.each do |product| %>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <a href="<%= product_path(product.permalink)%>">
          <% if product.default_image %>
            <%= image_tag product.default_image.path, :style => "max-width:100%;z-index:999999;" %>
          <% else %>
            <%= image_tag "http://placehold.it/290x290", :style => "max-width:100%; z-index:9999;" %>
          <% end %>
        </a>
        <p><strong>Name:</strong> <%= product.name.split("-").first %></p>
        <p><strong>Details:</strong> <%= product.short_description.truncate(20) %></p>
        <p><b>Price:</b> <%= number_to_currency product.price %></p>
      </div>
    <% end %>
  <% end %>
<% end %>