<% if @products = [] %>
  <div class="container"> COMING SOON! </div>
  <% else %>
<div class="ui segment">
  <div class="row catalogue">
    <div class="ui link cards">
      <% @products.each do |product| %>
      <% product.each do |prod| %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="card" style="padding:4px; margin:4px;">
            <div class="image">
            <% if prod.default_image %>
                <%= image_tag prod.default_image.path, :style => "max-width:100%;z-index:999999;" %>
              <% else %>
                <%= image_tag "http://placehold.it/290x290" %>
              <% end %>
            </div>
            <div class="content">
              <div class="header">
                <p><strong>Name:</strong> <%= prod.product_category.name %></p>
              </div>
              <div class="meta"></div>
              <div class="description">
                <%= prod.short_description %>
              </div>
            </div>
            <div class="extra content">
              <span>  
                <i class="money icon"></i>
                <b>Price:</b> <%= number_to_currency prod.price %>
              </span>
            </div>

            <a href="<%= product_path(prod.permalink) %>">
            <div class="ui bottom attached button">
              <i class="info icon"></i>
              View Details
            </div>
          </div>
          </a>

          </div><br>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>