<% if current_page?(nurse_tops_path) || 
			current_page?(nurse_sets_path) || 
			current_page?(nurse_coats_path)||
			current_page?(nurse_pants_path)||
			current_page?(accessories_path)||
			current_page?(nurse_caps_path) %>
	<div class="single-sidebar">
	  <h2 class="sidebar-title" style="color:#2B4B6F;">NURSE WEAR</h2>
	  <ul>
	      <li><a href="<%= nurse_tops_path %>">NURSE TOPS</a></li><br>
	      <li><a href="<%= nurse_sets_path %>">NURSE SETS</a></li><br>
	      <li><a href="<%= nurse_coats_path %>">NURSE COATS</a></li><br>
	      <li><a href="<%= nurse_pants_path %>">NURSE PANTS</a></li><br>
	      <li><a href="<%= accessories_path %>">NURSE ACCESSORIES</a></li><br>
	      <li><a href="<%= nurse_caps_path %>">NURSE CAPS</a></li><br>
	  </ul>
	</div>
<% elsif 	current_page?(chef_coats_path) || 
					current_page?(chef_pants_path) || 
					current_page?(chef_hats_path)||
					current_page?(chef_tops_path)||
					current_page?(aprons_path)||
					current_page?(waitress_vests_path) %>
	<div class="single-sidebar">
	  <h2 class="sidebar-title" style="color:#2B4B6F;">CHEF WEAR</h2>
	  <ul>
	      <li><a href="<%= chef_coats_path %>">CHEF COATS</a></li><br>
	      <li><a href="<%= chef_pants_path %>">CHEF PANTS</a></li><br>
	      <li><a href="<%= chef_hats_path %>">CHEF HATS</a></li><br>
	      <li><a href="<%= chef_tops_path %>">CHEF TOPS</a></li><br>
	      <li><a href="<%= aprons_path %>">APRONS</a></li><br>
	      <li><a href="<%= waitress_vests_path %>">WAITRESS VESTS</a></li><br>
	  </ul>
	</div>
<% elsif 	current_page?(work_fire_retardent_path) || 
					current_page?(work_shop_coat_path) || 
					current_page?(work_coverall_overall_path)||
					current_page?(work_pants_path)||
					current_page?(work_shirts_path) ||
					current_page?(work_vests_path) %>
	<div class="single-sidebar">
	  <h2 class="sidebar-title" style="color:#2B4B6F;">WORK WEAR</h2>
	  <ul>
	      <li><a href="<%= work_fire_retardent_path %>">FIRE RETARDENT</a></li><br>
	      <li><a href="<%= work_shop_coat_path %>">SHOP COATS</a></li><br>
	      <li><a href="<%= work_coverall_overall_path %>">COVERALLS & OVERALLS</a></li><br>
	      <li><a href="<%= work_pants_path %>">WORK PANTS</a></li><br>
	      <li><a href="<%= work_shirts_path %>">WORK SHIRTS</a></li><br>
	      <li><a href="<%= work_vests_path %>">SAFETY VESTS</a></li><br>
	  </ul>
	</div>
<% elsif 	current_page?(clearance_path) %>
	<div class="single-sidebar">
	  <h2 class="sidebar-title" style="color:#2B4B6F;">CLEARANCE ITEMS</h2>
	  <ul>
	      <li><a href="<%= clearance_path %>">MAIN PAGE</a></li><br>
	  </ul>
	</div>
<% elsif 	current_page?(stethoscopes_path) %>
	<div class="single-sidebar">
	  <h2 class="sidebar-title" style="color:#2B4B6F;">STETHOSCOPES</h2>
	  <ul>
	      <li><a href="<%= stethoscopes_path %>"></a>MAIN PAGE</li><br>
	  </ul>
	</div>
<% end %>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>