<div class="ui link cards">
  <div class="card">
  <% if @product.default_image %>
    <div class="image">
      <%= image_tag @product.default_image.path, :width => '290px', :height => '290px', :style => "max-width:100%", class: "image slide-image" %>
    </div>
    <% end %>
    <div class="content">
      <div class="header"><%= @product.name %></div>
      <div class="meta">
        <a><%= @product.product_category.name %></a>
      </div>
      <div class="description">
        <%= simple_format @product.description %>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <strong>Price: </strong><%= number_to_currency @product.price %>
      </span>
      <span>
        <i class="shop icon"></i>
        <%= link_to "Add to basket", product_path(@product.permalink), :method => :post, class: "ui button primary" %>
      </span>
    </div>
  </div>
</div>

<p><%= link_to "Back to list", root_path, class: "ui button primary" %></p>