<style>
  @media screen and (max-width: 1000px) {
    .single-sidebar {
        display: none;
    }
  }
</style>

<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Shop</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-sidebar">
        </div>
            
        <div class="single-sidebar">
          <h2 style="color:#2B4B6F"class="sidebar-title">YOU MAY ALSO LIKE...</h2>
          <% @products.sample(8).each do |product| %>
                <div class="thubmnail-recent">
                <div class="big-thumb">
                  <img src="<%= product.default_image.path %>" class="recent-thumb" alt="">
                </div>
                  <h6><a href="<%= product_path(product.permalink) %>"><%= product.sku %> - <%= product.name.split("-").first %></a></h6>
                  <div class="product-sidebar-price">
                    <ins><%= number_to_currency product.price %></ins>
                    <% if @product.product_category_id == 22 %> 
                    <del><%= number_to_currency (product.price*1.13).to_f %></del>
                    <% end %>
                  </div>                             
                </div>
              <% end %>
        </div>
      </div>
        
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="product-breadcroumb">
            <%= link_to 'Home', root_path %>
            <%= render 'bread' %>
            <%= link_to @product.name.split("-").first, product_path(@product.permalink) %>
          </div>
              
          <div class="row">
            <div class="col-sm-6">
              <div class="product-images">
                <div class="product-main-img">
                  <img src="<%= @product.default_image.path %>" alt="">
                </div>
                          
                
              </div>
            </div>
            <%= form_tag product_path(@product.permalink, :size => @size, :color => @color), :method => :post do %>
              <div class="col-sm-6">
                <div class="product-inner">
                  <h2 class="product-name"><%= @product.sku %></h2>
                  <h2 class="product-name"><%= @product.name.split("-").first %></h2>
                      
                      <%= @product.description.html_safe %>

                      <% if @product.product_category_id == 22 %>

                        <p style="color:red;">Clearance: All Sales are FINAL!</p>
                        <p style="color:red;">Due to size constraints we try to keep the size list as updated as possible. If the item is <em>unavailable</em> you will receive a full refund no questions asked!</p>

                        <div class="ui styled accordion">
                          <div class="title">
                            <i class="dropdown icon"></i>
                            Click Here for Available Colors and Sizes
                          </div>
                          <div class="content">
                            <p class="transition hidden">
                          
                            <table class="ui celled structured table">
                            <thead>
                            <tr>
                              <th rowspan="2">Color</th>
                              <th colspan="9">Available Sizes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @clearance_hash.each do |color, size| %>
                            <tr>
                              <td><%= color %></td>
                              <td colspan="1"><%= size.to_s %></td>
                            </tr>

                            <% end %>
                            </tbody>
                            </table></p><br>
                            </div>
                        </div>
                      <% end %>

                    <div class="product-inner-price">
                      <ins><%= number_to_currency @product.price %></ins>
                      <% if @product.product_category_id == 22 %> 
                      <del><%= number_to_currency (@product.price*1.35).to_f %></del>
                      <% end %>
                    </div> 

                    <div class="product-inner-category">
                      <p>
                        Color: 
                        <%= select_tag :color, options_for_select(@colors_array.uniq, :selected => params[:color]) %>
                        <br>
                        Size: 
                        <%= select_tag :size, options_for_select(@sizes, :selected => params[:size]) %>
                      </p>
                      <p style="color: red;">Quantity can be updated on the basket page</p>
                    </div>

                    <form action="" class="cart">
                      <%= submit_tag 'Add to basket', class: "ui button", style: "background-color:#2B4B6F;color:white;" %>
                      
                      <% if !@product.data_sheet.nil? %>
                      <!-- Button trigger modal -->
                      <button type="button" style="background-color:#2B4B6F;color:white;" class="ui button" data-toggle="modal" data-target="#myModal">
                        View Sizing Chart
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document" style="width:500px;">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Sizing Chart</h4>
                            </div>
                            <div class="modal-body">
                              
                              <img src="<%= @product.data_sheet.path %>" alt="">
                              
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    
                    </form>
                    <br><br>
                    <%= social_share_button_tag(@product.name.split("-").first) %>

                    <br>
                    <br> 
                  <% end %>
                  <div role="tabpanel">
                    <ul class="product-tab" role="tablist">
                      <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                          Color Options
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade in active" id="home">
                           
                        <% for i in 0..@background_details.length-1 %> 
                          <% background = @background_details[i] %>
                          <% html = select_background_type(background[0], background[1]) %>   
                          <div style='<%= html[0] %>' id="color-picker" data-toggle="tooltip" data-placement="top" title="<%= @colors_array.uniq[i] %>" class="color_selections" title="<%= @colors_array.uniq[i] %>">
                          </div>
                        <% end %> 
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="related-products-wrapper">
                <h2 style="color:#2B4B6F" class="related-products-title">Related Products</h2><br><br>
                <div class="related-products-carousel col-lg-12">
                  <% @relatedproducts.sample(12).each do |product| %>
                    <div class="single-product">
                      <div class="product-f-image">
                        <img src="<%= product.default_image.path %>" style="height:335px;width:212px;" alt="">
                        <div class="product-hover">
                          <a href="<%= product_path(product.permalink) %>" class=" view-details-link">
                            <i class="fa fa-link"></i> See details
                          </a>
                        </div>
                      </div>

                      <h6><a href="<%= product_path(product.permalink) %>"><%= product.sku %> - <%= product.name.split("-").first %></a></h6>

                      <div class="product-carousel-price">
                        <ins><%= number_to_currency product.price %></ins>
                        <% if @product.product_category_id == 22 %> 
                        <del><%= number_to_currency (product.price*1.35).to_f %></del>
                        <% end %>
                      </div> 
                    </div>  
                  <% end %>                                  
                </div>
              </div>
            </div>                    
          </div>
        </div>
      </div>
    </div>

 <script>
 $(function(){
  $('[data-toggle="tooltip"]').tooltip();
 });
 </script>

 <script>
 $(function(){
  $('.ui.accordion').accordion('behavior', 'open', 'close');
 });
 </script>
