<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Shop</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-sidebar">
        </div>
            
        <div class="single-sidebar">
          <h2 class="sidebar-title">Products</h2>
          <% @products.each do |category, products| %>
            <% if category.name.downcase == 'tops' || 'sets' || 'clearance' %>
              <% products.sample(2).each do |product| %>
                <div class="thubmnail-recent">
                  <img src="<%= product.default_image.path %>" class="recent-thumb" alt="">
                  <h2><a href="<%= product_path(product.permalink) %>"><%= product.name.split("-").first %></a></h2>
                  <div class="product-sidebar-price">
                    <ins><%= number_to_currency product.price %></ins> 
                    <del><%= number_to_currency (product.price*1.13).to_f %></del>
                  </div>                             
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
        
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="product-breadcroumb">
            <%= link_to 'Home', root_path %>
            <% if @product.product_category == 1 %>
              <%= link_to 'Sets', nurse_sets_path %>
            <% elsif @product.product_category == 2 %>
              <%= link_to 'Tops', nurse_tops_path %>
            <% else%>
            <%= link_to 'Clearance', clearance_path %>
            <% end %>
            <%= link_to @product.name.split("-").first, product_path(@product.permalink) %>
          </div>
              
          <div class="row">
            <div class="col-sm-6">
              <div class="product-images">
                <div class="product-main-img">
                  <img src="<%= @product.default_image.path %>" alt="">
                </div>
                          
                <div class="container service1-items col-md-4 col-sm-6 col-xs-12 pull-left color_picker_container">
                  <% for i in 0..@background_details.length-1 %> 
                    <% background = @background_details[i] %>
                    <% html = select_background_type(background[0], background[1]) %>
          
                    <div style='<%= html[0] %>' class="color_picker_primary" name="<%= @colors_array.uniq[i] %>">
                      <div style='<%= html[1] %>' class="color_picker_optional" name="<%= @colors_array.uniq[i] %>">
                      </div> 
                    </div>
                  <% end %> 
                </div>
              </div>
            </div>
            <%= form_tag product_path(@product.permalink, :size => @size, :color => @color), :method => :post do %>
              <div class="col-sm-6">
                <div class="product-inner">
                  <h2 class="product-name"><%= @product.name.split("-").first %></h2>
                    <div class="product-inner-price">
                      <ins><%= number_to_currency @product.price %></ins> 
                      <del><%= number_to_currency (@product.price*1.13).to_f %></del>
                    </div> 

                    <div class="product-inner-category">
                      <p>
                        Color: 
                        <%= select_tag :color, options_for_select(@colors_array.uniq, :selected => params[:color]) %> 
                        Size: 
                        <%= select_tag :size, options_for_select(@sizes, :selected => params[:size]) %>
                      </p>
                    </div>

                    <form action="" class="cart">
                      <div class="quantity">
                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                      </div>
                      <%= submit_tag 'Add to basket', class: "ui button", style: "background-color:#1abc9c;color:white;" %>
                    </form>
                    <br><br>
                    <%= social_share_button_tag(@product.name.split("-").first) %>

                    <br>
                    <br> 
                  <% end %>
                  <div role="tabpanel">
                    <ul class="product-tab" role="tablist">
                      <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                          Description
                        </a>
                      </li>
                      <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                          Reviews
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <h2>Product Description</h2>  
                        <%= @product.description.html_safe %>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="profile">
                        <h2>Reviews</h2>
                          <div class="submit-review">
                            <p><label for="name">Name</label> <input name="name" type="text"></p>
                            <p><label for="email">Email</label> <input name="email" type="email"></p>
                            <div class="rating-chooser">
                              <p>Your rating</p>
                              <div class="rating-wrap-post">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                              </div>
                            </div>
                            <p>
                              <label for="review">Your review</label> 
                              <textarea name="review" id="" cols="30" rows="10"></textarea>
                            </p>
                            <p><input type="submit" value="Submit"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="related-products-wrapper">
                <h2 class="related-products-title">Related Products</h2>
                <div class="related-products-carousel col-lg-12">
                  <% @products.each do |category, products| %>
                    <% if category.name.downcase == 'tops' || 'sets' %>
                      <% products.sample(12).each do |product| %>
                        <div class="single-product">
                          <div class="product-f-image">
                            <img src="<%= product.default_image.path %>" style="height:335px;width:212px;" alt="">
                            <div class="product-hover">
                              <a href="<%= product_path(product.permalink) %>" class=" view-details-link">
                                <i class="fa fa-link"></i> See details
                              </a>
                            </div>
                          </div>

                          <h2><a href="<%= product_path(product.permalink) %>">
                            <%= product.name.split("-").first %></a>
                          </h2>

                          <div class="product-carousel-price">
                            <ins><%= number_to_currency product.price %></ins> 
                            <del><%= number_to_currency (product.price*1.13).to_f %></del>
                          </div> 
                        </div>  
                      <% end %>
                    <% end %>
                  <% end %>                                  
                </div>
              </div>
            </div>                    
          </div>
        </div>
      </div>
    </div>


<script>
$(document).ready(function(){

loadGallery(true, 'a.thumbnail');

//This function disables buttons when needed
function disableButtons(counter_max, counter_current){
    $('#show-previous-image, #show-next-image').show();
    if(counter_max == counter_current){
        $('#show-next-image').hide();
    } else if (counter_current == 1){
        $('#show-previous-image').hide();
    }
}

/**
 *
 * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
 * @param setClickAttr  Sets the attribute for the click handler.
 */

function loadGallery(setIDs, setClickAttr){
    var current_image,
        selector,
        counter = 0;

    $('#show-next-image, #show-previous-image').click(function(){
        if($(this).attr('id') == 'show-previous-image'){
            current_image--;
        } else {
            current_image++;
        }

        selector = $('[data-image-id="' + current_image + '"]');
        updateGallery(selector);
    });

    function updateGallery(selector) {
        var $sel = selector;
        current_image = $sel.data('image-id');
        $('#image-gallery-caption').text($sel.data('caption'));
        $('#image-gallery-title').text($sel.data('title'));
        $('#image-gallery-image').attr('src', $sel.data('image'));
        disableButtons(counter, $sel.data('image-id'));
    }

    if(setIDs == true){
        $('[data-image-id]').each(function(){
            counter++;
            $(this).attr('data-image-id',counter);
        });
    }
    $(setClickAttr).on('click',function(){
        updateGallery($(this));
    });
}
});

</script>    