<!DOCTYPE html>
<html>
  <head>
    <title>AP</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <!-- Navigation -->
    <div class="ui segment" style="height: 200px;">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="<%= root_path %>">
          <img class="slide-image" src="http://placehold.it/600x160" alt="" style="max-width:100%;">
        </a>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6" style="float:right;">
        <img class="slide-image" src="http://placehold.it/600x160" alt="" style="max-width:100%;">
      </div>
    </div>
    
    <nav class="navbar navbar-default" style="background-color: teal;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a href="<%= root_path %>">Home</a></li> -->
            <li class="dropdown" style="color:black;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nurse Wear <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= nurse_path%>">View All</a></li>
                <li><a href="<%= nurse_tops_path %>">Tops</a></li>
                <li><a href="<%= nurse_sets_path %>">Sets</a></li>
                <li><a href="#">Specfic</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stethoscopes<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= stethoscopes_path %>">View All</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specfic</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chef Wear<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= chef_path %>">View All</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specfic</a></li>
              </ul>
            </li>
            <li><a href="<%= clearance_path %>">Clearance</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form role="search">
                <div class="form-group">
                  <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </form>
            </li>
            <li>
              <div class="ui buttons">
                <% if current_order %>    
                  <%= link_to "View Basket (#{current_order.total_items})", basket_path, class: "ui button" %>
                  <div class="or"></div>
                  <%= link_to "Checkout $#{current_order.total_before_tax}", checkout_path, class: "ui primary button" %>
                <% end %>
              </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <br>
    <% if flash[:alert] %>
     <div class="ui negative message">
   <i class="close icon"></i>
   <div class="header">
    <%= flash[:alert] %>
  </div>
</div>
<% end %>
<% if flash[:notice] %>
    <div class="ui positive message">
  <i class="close icon"></i>
  <div class="header">
     <%= flash[:notice] %>
   </div>
 </div>
 <% end %>
    <%= yield %>
    
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
          <div class="row">
            <div class="col-lg-4">
              <div class="col-md-12">
                <ul class="social-network social-circle">
                  <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>       
              </div>
            </div>
            <br>
            <div class="col-lg-4">
              <p>
                <a href="#">Terms & Service</a> |
                <a href="#">Customer Service</a> |
                <a href="#">Contact Us</a>
              </p>
            </div>
            
            <div class="col-lg-4">
              <h3>Copyright &copy; AP Uniforms 2015</h3>
            </div>
          </div>
        </footer>
        <hr>
    </div>
    <!-- /.container -->
</body>
</html>
