<!DOCTYPE html>
<html>
<head>
  <title>AP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <script type="text/javascript">
    $(".owl-carousel").owlCarousel();
    </script>
</head>
<body>

    <div class="ui medium menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="shop icon"></i> Shop
  </a>
  <a class="item">
    <i class="mail icon"></i> Contact
  </a>
  <div class="item">
    <%= flash[:notice] %>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="ui simple dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">French</a>
        <a class="item">Russian</a>
      </div>
    </div>
   <div class="ui buttons">
  <% if current_order %>
    
      <%= link_to "View Basket (#{current_order.total_items})", basket_path, class: "ui button" %>
      <div class="or"></div>
      <%= link_to "Checkout $#{current_order.total_before_tax}", checkout_path, class: "ui primary button" %>

        <% end %>
</div>
  </div>
</div>
<br><br>
  <div class="container-fluid">
    <!-- Empty Left Column -->
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8 col-md-12 col-xs-12-col-sm-12 yield">
  	<%= yield %>
    </div>

    <!-- Empty Right Column -->
    <div class="col-lg-2">
    </div>
  </div>

</body>
</html>
