<!DOCTYPE html>
<html>
<head>
  <title>AP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <script type="text/javascript">
    $(".owl-carousel").owlCarousel();
    </script>
</head>
<body>
<div class="ui stacked segment" align="right">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
</div>

    <div class="ui medium menu">
  <%= link_to root_path, class: "active item" do %>
  <i class="shop icon"></i> Shop 
<% end %>
  <div class="ui simple dropdown item">
      Nurse Wear <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Top's</a>
        <a class="item">Sets</a>
        <a class="item">Petite and Tall</a>
      </div>
    </div>
<div class="ui simple dropdown item">
      Stethoscopes <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">French</a>
        <a class="item">Russian</a>
      </div>
    </div>
<div class="ui simple dropdown item">
      Chef Wear <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">French</a>
        <a class="item">Russian</a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      Work Wear <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">French</a>
        <a class="item">Russian</a>
      </div>
    </div>
    <div class="ui simple dropdown item" style="text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87">
      ON SALE! <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">French</a>
        <a class="item">Russian</a>
      </div>
    </div>
  <div class="right menu">  
    <%= link_to root_path, class: "item" do %>
  <i class="mail icon"></i> Contact 
<% end %>
   <div class="ui buttons">
  <% if current_order %>
    
      <%= link_to "View Basket (#{current_order.total_items})", basket_path, class: "ui button" %>
      <div class="or"></div>
      <%= link_to "Checkout $#{current_order.total_before_tax}", checkout_path, class: "ui primary button" %>

        <% end %>
</div>
  </div>
</div>
<br><br>
  <div class="container-fluid">
    <!-- Empty Left Column -->
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8 col-md-12 col-xs-12-col-sm-12 yield">
    <% if flash[:alert] %>
    <div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
    <%= flash[:alert] %>
  </div>
</div>
<% end %>
<% if flash[:notice] %>
    <div class="ui positive message">
  <i class="close icon"></i>
  <div class="header">
    <%= flash[:notice] %>
  </div>
</div>
<% end %>
    
  	<%= yield %>
    </div>

    <!-- Empty Right Column -->
    <div class="col-lg-2">
    </div>
  </div>

</body>
</html>
