<!DOCTYPE html>
<html>
  <head>
    <title>AP</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <!-- Navigation -->
    <div class="ui segment" style="height: 170px;">
      <div class="col-lg-5">
      <img class="slide-image" src="http://placehold.it/600x140" alt="">
      </div>

      <div class="col-lg-4" style="float:right;">
        <form role="search">
          <div class="form-group">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= root_path %>">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chef Wear <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Main</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specfic</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medical Wear<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Main</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specfic</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nurse Wear<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Main</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specific</a></li>
                <li><a href="#">Specfic</a></li>
              </ul>
            </li>
            <li>
              <div class="ui buttons">
                <% if current_order %>    
                  <%= link_to "View Basket (#{current_order.total_items})", basket_path, class: "ui button" %>
                  <div class="or"></div>
                  <%= link_to "Checkout $#{current_order.total_before_tax}", checkout_path, class: "ui primary button" %>
                <% end %>
              </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <br><br><br><br><br>
    <%= yield %>
    
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
          <div class="row">
            <div class="col-lg-12">
              <p style="float:right;">Copyright &copy; AP Uniforms 2015</p>
            </div>
          </div>
        </footer>
    </div>
    <!-- /.container -->
</body>
</html>
